- if flash.has?(:message)
  .alert.alert-primary
    %h1= flash[:message]

%h1.display-4.mb-3 Tweets

- @tweets.each do |tweet|
  .card.mb-3
    .card-body
      = tweet.content
    .card-footer
      .row
        .col
          = tweet.user.username
        .col
          %a(href="/tweets/#{tweet.id}") Link
